<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>

                <li>
                    <a >
                        ANDRIANASINORO Hasina Arimanana
                    </a>
                </li>
                <li>
                    <a >
                      RALAMBORANTO Sitraka Killian Giuseppe
                    </a>
                </li>

            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by DREAM TEAM
        </div>
    </div>
</footer>
