<div class="col-md-12">
  <div class="card card-plain">

    <div class="card-header">
      <h4 class="card-title">Validation des comptes</h4>
      <p class="card-category">Validation de l'inscription des boutiques</p>
    </div>

    <div class="card-body">

      <div *ngIf="error" class="alert alert-danger">
        {{ error }}
      </div>

      <div class="table-responsive" >
        <table class="table table-hover align-middle">
          <thead class="text-primary">
          <tr>
            <th>Boutique</th>
            <th>Propriétaire</th>
            <th>Adresse mail</th>
            <th>État</th>
            <th class="text-right">Action</th>
          </tr>
          </thead>

          <tbody>

          <!-- AUCUNE DONNÉE -->
          <tr *ngIf="boutiqueDataA.length === 0">
            <td colspan="5" class="text-center text-muted">
              Aucune boutique en attente
            </td>
          </tr>

          <!-- BOUTIQUES EN ATTENTE -->
          <tr *ngFor="let a of boutiqueDataA">
            <td>
              <a
                class="link-info"
                [routerLink]="['/detail-boutique']"
                [queryParams]="{ id: a.id }">
                {{ a.boutique?.nomBoutique }}
              </a>
            </td>

            <td>{{ a.nom }} {{ a.prenom }}</td>
            <td>{{ a.email }}</td>
            <td>
                <span class="badge badge-warning">
                  En cours
                </span>
            </td>
            <td class="text-right">
              <div class="d-flex flex-column align-items-end gap-2">
                <button  (click)="clickValideeBoutique(a.id)" class="btn btn-success btn-sm">
                  <i class="nc-icon nc-check-2"></i> Valider
                </button>
                <button (click)="clickRejeterBoutique(a.id)" class="btn btn-danger btn-sm">
                  <i class="nc-icon nc-simple-remove"></i> Refuser
                </button>
              </div>
            </td>
          </tr>

          </tbody>
        </table>
      </div>

      <nav class="mt-4" *ngIf="totalPages > 1">
        <ul class="pagination justify-content-end">

          <!-- PRECEDENT -->
          <li class="page-item" [class.disabled]="currentPage === 1">
            <a class="page-link"
               (click)="goToPage(currentPage - 1)">
              Précédent
            </a>
          </li>

          <!-- NUMÉROS -->
          <li class="page-item"
              *ngFor="let p of pages"
              [class.active]="p === currentPage">
            <a class="page-link" (click)="goToPage(p)">
              {{ p }}
            </a>
          </li>

          <!-- SUIVANT -->
          <li class="page-item" [class.disabled]="currentPage === totalPages">
            <a class="page-link"
               (click)="goToPage(currentPage + 1)">
              Suivant
            </a>
          </li>

        </ul>
      </nav>

    </div>
  </div>

  <div class="py-3"></div>

  <div class="card card-plain">

    <div class="card-header">
      <p class="card-category">liste des compte validée.</p>
    </div>

    <div class="card-body">

      <div *ngIf="error" class="alert alert-danger">
        {{ error }}
      </div>

      <div class="table-responsive" >
        <table class="table table-hover align-middle">
          <thead class="text-primary">
          <tr>
            <th>Boutique</th>
            <th>Propriétaire</th>
            <th>Adresse mail</th>
            <th>État</th>
            <th class="text-right">Action</th>
          </tr>
          </thead>

          <tbody>

          <!-- AUCUNE DONNÉE -->
          <tr *ngIf="boutiqueDataV.length === 0">
            <td colspan="5" class="text-center text-muted">
              Aucune boutique n'a encore été validée.
            </td>
          </tr>

          <!-- BOUTIQUES EN ATTENTE -->
          <tr *ngFor="let a of boutiqueDataV">
            <td>
              <a
                class="link-info"
                [routerLink]="['/detail-boutique']"
                [queryParams]="{ id: a.id }">
                {{ a.boutique?.nomBoutique }}
              </a>
            </td>

            <td>{{ a.nom }} {{ a.prenom }}</td>
            <td>{{ a.email }}</td>
            <td>
                <span class="badge badge-success">
                  Validée
                </span>
            </td>
            <td class="text-center">
              --
            </td>
          </tr>

          </tbody>
        </table>
      </div>

      <nav class="mt-4" *ngIf="totalPagesV > 1">
        <ul class="pagination justify-content-end">

          <!-- PRECEDENT -->
          <li class="page-item" [class.disabled]="currentPageV === 1">
            <a class="page-link"
               (click)="goToPageV(currentPageV - 1)">
              Précédent
            </a>
          </li>

          <!-- NUMÉROS -->
          <li class="page-item"
              *ngFor="let p of pagesV"
              [class.active]="p === currentPageV">
            <a class="page-link" (click)="goToPageV(p)">
              {{ p }}
            </a>
          </li>

          <!-- SUIVANT -->
          <li class="page-item" [class.disabled]="currentPageV === totalPagesV">
            <a class="page-link"
               (click)="goToPageV(currentPageV + 1)">
              Suivant
            </a>
          </li>

        </ul>
      </nav>

    </div>
  </div>
</div>
